h1, h2 {    
    color: blue
 }
img{
    border: 1px solid white;    
    border-radius: 35%;
}
body{
    background-color: hsl(218, 4%, 43%);
    color: white;
}

/* Style the table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  /* Style table headers (th) */
  th {
    background-color: #383333;
    font-weight: bold;
    padding: 8px;
    border: 1px solid #ddd;
  }
  
  /* Style table data cells (td) */
  td {
    padding: 8px;
    border: 2px solid #ddd;
  }
  
  /* Alternate row background color */
  tr:nth-child(even) {
    background-color: #423e3e;
  }
  
  /* Hover effect on rows */
  tr:hover {
    background-color: #413c3c;
  }
  

table {
    background-color: #3b3838; /* Background color for table header cells */
    text-align: left;
    padding: 10px
    
    }

.bio {
    background-color: #333; /* Dark background color */
    color: #fff; /* Light text color */
    padding: 20px; /* Add padding for spacing */
    list-style-type: none; /* Remove default list bullet points */
}

